.card {
  background-color: blueviolet;
  color: white;
  padding: 20px;
}

.imagen {
  width: 200px;
}

.on {
  background-color: rgb(160, 206, 92);
}

.off {
  background-color: rgb(94, 115, 116);
}





